<!DOCTYPE html>
<html lang="en">
  <head>
     <title>KLM Case X01</title>
    <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="KLMAPP">
    <div class="container" ng-controller="AppController">
        <button class="pull-right" ng-click="getCustomMetrics()" class="btn btn-primary">Metrics</button>
      <div class="page-header">
        <h1>Choose your destination</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-show="!selFcode || !selTcode">
        Please choose <span ng-if="!selFcode">"from"</span> <span ng-if="!selFcode && !selTcode"> and</span>  <span ng-if="!selTcode"> "to"</span> 
      </div>

      <form class="row-fluid">
            <div class="container-fluid">
          
                From <input type="text" ng-model="selFcode" uib-typeahead="location as location.name for location in getLocation($viewValue)" typeahead-editable="false" />
                To <input type="text" ng-model="selTcode" uib-typeahead="location as location.name for location in getLocation($viewValue)" typeahead-editable="false" />

                <button ng-disabled="!selTcode || !selFcode" ng-click="getFare(selFcode, selTcode)" class="btn btn-primary">Find</button>
            </div>
        </form>
        <hr />
        <div ng-if="fare && selFcode && selTcode">
            From {{fare.origin.name}} to {{fare.destination.name}} will costs {{fare.amount}} {{fare.currency}}
        </div>
        <div ng-if="loading">
            Searching best fare...
        </div>

        <div ng-if="customMetrics && standardMetrics">
           

        
            <div class="container">
              <h2>Stats</h2>
              <p>Custom and standard metrics</p>            
              <table class="table">
                <thead>
                  <tr>
                    <th>Content</th>
                    <th>Value</th>
                    
                  </tr>
                </thead>
                <tbody>
                 
                  <tr>
                    <td>Total number of requests</td>
                    <td>{{customMetrics.totalRequests}}</td>
                    
                  </tr>
                  <tr>
                    <td> Min request Time</td>
                    <td> {{customMetrics.minRequestTime}}ms</td>
                    
                  </tr>
                    <td> Max request Time</td>
                    <td> {{customMetrics.maxRequestTime}}ms</td>
                   
                  </tr>
                   <tr>
                    <td>Request Average</td>
                    <td>{{customMetrics.averageRequestTime}}ms</td>
                   
                  </tr>
                  </tr>
                    <td> Resources served with status code 2xx</td>
                    <td> {{standardMetrics.count2x}}</td>
                   
                  </tr>
                   </tr>
                    <td> Resources served with status code 4xx</td>
                    <td> {{standardMetrics.count4x}}</td>
                   
                  </tr>
                   </tr>
                    <td> Resources served with status code 5xx</td>
                    <td> {{standardMetrics.count5x}}</td>
                   
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
  </body>
</html>

